*.apk
*.ap_
*.bak
*.class
*.dex
*.launch
*.log
*.pydevproject
*.tmp
*.swp
*~.nib
.buildpath
.classpath
.cproject
.externalToolBuilders/
.gradle
.gradle/
.loadpath
.metadata
.project
.settings/
.target
.texlipse
/*/build/
bin/
build/
gen/
local.properties
proguard/
tmp/

